@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #090a0a;    
}

.cards{
    width:100%;
    height:auto;
}

.card{
    margin:3%;
    transition: all 0.4 cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 27%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
  } 

.heading_style{
  padding: 20px 0;
  text-align: center;
  font-family: "Relay",sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 1000;
  color: #0c0b0b;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}


.card:hover{
  box-shadow: 0px 30px 18px -7px rgba(0, 0, 0, 0.1);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height: 235px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  
}
.card_info{
  background-color: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
  color: #868686;
}
.card_category{
  font-family: "Relay",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 550;
  color: black;
  background-color:#fff;
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Relay",sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}


.button{
    padding: 5px 8px;
    font-family: "Relay",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2 px;
    font-weight: 500;
    color:#868686;
    background-color: #fff;
    outline: none;
    border: 1px solid black ;
    cursor: pointer;
    border-radius: 12px;
  }

.button:hover{
    background: rgb(100, 203, 235);
    color: black;
}